body {
    width: 95%;
    height: 100vh;
    margin: auto;
    background-color: #2a2a2a;
    color: #ffffff;
    font-family: avenir;
    font-size: 16px; 
  }
  
  h1, p[id="description"] {
    margin: .5em auto;
    text-align: center;
    padding-top: .5em;
  }
  
  h1 {
    color: #B01F00;
  }
  
  h4 {
    color: #b07700;
  }
  
  p {
    color: #b07700; 
  }
  
  form {
    width: 95vw;
    max-width: 800px;
    min-width: 300px;
    margin: 30 auto;
    padding-bottom: 3em
  }
  
  fieldset {
    border: solid;
    padding: 2em auto;
    margin: 1em;
  }
  
  label {
    display: block;
    margin: 0rem 0;
  }
  
  input, textarea, select {
    margin: 2px 0 0 0;
    min-height: 1em;
    font-family: avenir;
    font-size: 14px;
  }
  
  input {
    width: 10%
  }
  
  textarea, select {
    width: 80%;
    margin-bottom: 2em;
  }
  
  input, textarea {
   background-color: #ffffff;
   border-color: #282322;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  button[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    min-width: 300px;
    background-color: #B01F00;
  border-color: #B01F00;
    color: #ffffff;
  
  }
  
  input[type="text"] {
    width: 55%;
  }
  
  input[type="email"] {
    width: 50%
  }